.login-main-middle{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-logo{
 
    vertical-align: center;
    padding:0px 0px 0px 0px;
    border-color: black;
    color:whitesmoke;
    background-color: #444141;
    font-size: 100px;
    /* padding:50px ; */
    cursor: pointer;
    /* height:100vh; */

}
.login-credentials{
    
    width: max-content;
    font-family: sans-serif;
    font-size: 30px;
    border-style:solid;
    border-color: #333;
    margin: 250px 300px 200px 530px;
    padding:150px;
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    border-color:#444141;
    display:flex;
    flex-direction: column;


}

input[id="login-username"]{
    height:30px;
    width:200px;
    font-size: large;
    margin-right:7px;
}


#buttons{
    margin-top:70px;

}

#login-login{
    background-color: #444141;

}

#login-register{
    background-color: #444141;
}